@tailwind base;
@tailwind components;
@tailwind utilities;


/* Heading 1 */
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  /* Heading 2 */
  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
  }
  
  /* Heading 3 */
  h3 {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  